
body {
    background-color: #616f62;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
  }

  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .container {
    width: 70%;
    background-color: #7e8e7f;
    color: rgb(129, 129, 129);
    opacity: 0.8;   
  }

.inputs {
    padding: 15px 25px 25px 45px;    
}
    .product-container {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    color: rgb(66, 65, 65);
  }
  
  th {
    background-color: #989898;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e0e0e0;
  }
  tr:nth-child(odd) {
    background-color: #bebebe;
  }